<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="Column-1">
    <p><span class="label"><f:translate key="tx_cartbooks_domain_model_book.title"/>:</span> <span>{book.title}</span></p>
    <f:if condition="{book.subtitle}">
        <p><span class="label"><f:translate key="tx_cartbooks_domain_model_book.subtitle"/>:</span> <span>{book.subtitle}</span></p>
    </f:if>
    <f:if condition="{book.author}">
        <p><span class="label"><f:translate key="tx_cartbooks_domain_model_book.author"/>:</span> <span>{book.author}</span></p>
    </f:if>
    <f:if condition="{book.genre}">
        <p><span class="label"><f:translate key="tx_cartbooks_domain_model_book.genre"/>:</span> <span>{book.genre}</span></p>
    </f:if>
</f:section>

<f:section name="Column-2">
    <f:if condition="{book.illustrator}">
        <p><span class="label"><f:translate key="tx_cartbooks_domain_model_book.illustrator"/>:</span> <span>{book.illustrator}</span></p>
    </f:if>
    <f:if condition="{book.editor}">
        <p><span class="label"><f:translate key="tx_cartbooks_domain_model_book.editor"/>:</span> <span>{book.editor}</span></p>
    </f:if>
    <f:if condition="{book.translator}">
        <p><span class="label"><f:translate key="tx_cartbooks_domain_model_book.translator"/>:</span> <span>{book.translator}</span></p>
    </f:if>
    <f:if condition="{book.language}">
        <p><span class="label"><f:translate key="tx_cartbooks_domain_model_book.language"/>:</span> <span>{book.language}</span></p>
    </f:if>
</f:section>

<f:section name="Column-3">
    <f:if condition="{book.isbn} || {book.isbn13}">
        <p>
            <span class="label"><f:translate key="tx_cartbooks_domain_model_book.isbn"/>:</span> <span>{f:if(condition: '{book.isbn}', then: '{book.isbn}', else: '{book.isbn13}')}</span>
        </p>
    </f:if>
    <f:if condition="{book.issn}">
        <p>
            <span class="label"><f:translate key="tx_cartbooks_domain_model_book.issn"/>:</span> <span>{book.issn}</span>
        </p>
    </f:if>
    <f:if condition="{book.numberOfPages}">
        <p><span class="label"><f:translate key="tx_cartbooks_domain_model_book.number_of_pages"/>:</span> <span>{book.numberOfPages}</span></p>
    </f:if>
    <f:if condition="{book.publisher}">
        <p><span class="label"><f:translate key="tx_cartbooks_domain_model_book.publisher"/>:</span> <span>{book.publisher}</span></p>
    </f:if>
    <f:if condition="{book.dateOfPublication}">
        <p><span class="label"><f:translate key="tx_cartbooks_domain_model_book.date_of_publication"/>:</span> <span><f:format.date format="Y">{book.dateOfPublication}</f:format.date></span></p>
    </f:if>
</f:section>

<div class="row">
    <div class="col-lg-12">
        <div class="row mt-4">
            <div class="col-lg-4">
                <f:render section="Column-1" arguments="{book: book}"/>
            </div>
            <div class="col-lg-4">
                <f:render section="Column-1" arguments="{book: book}"/>
            </div>
            <div class="col-lg-4">
                <f:render section="Column-1" arguments="{book: book}"/>
            </div>
        </div>
    </div>
</div>
</html>