<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="RelatedBook">
    <div class="related-book">
        <cartbooks:link.book book="{book}" settings="{settings}">
            <div class="related-book-title">{book.title}</div>
        </cartbooks:link.book>
        <div class="related-book-title">{book.author}</div>
        <div class="related-book-title">{book.genre}</div>
    </div>
</f:section>

<f:if condition="{book.relatedBooks}">
    <div class="row">
        <div class="col-sm-12">
            <h2><f:translate key="tx_cartbooks_domain_model_book.related_books"/></h2>

            <div class="row">
                <f:for each="{book.relatedBooks}" as="relatedBook">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <f:render section="RelatedBook" arguments="{book: relatedBook, settings: settings}"/>
                    </div>
                </f:for>
            </div>
        </div>
    </div>
</f:if>


</html>