<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cart="http://typo3.org/ns/Extcode/Cart/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{book.bestSpecialPrice} < {book.price}">
    <f:then>
        <cart:format.currency currencyTranslation="{currencyTranslationData.currencyTranslation}" currencySign="{currencyTranslationData.currencySign}">{book.bestSpecialPrice}</cart:format.currency>
        <strike>
            <cart:format.currency currencyTranslation="{currencyTranslationData.currencyTranslation}" currencySign="{currencyTranslationData.currencySign}">{book.price}</cart:format.currency>
        </strike>
    </f:then>
    <f:else>
        <cart:format.currency currencyTranslation="{currencyTranslationData.currencyTranslation}" currencySign="{currencyTranslationData.currencySign}">{book.price}</cart:format.currency>
    </f:else>
</f:if>
</html>