<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cartbooks="http://typo3.org/ns/Extcode/CartBooks/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="GridItem">
    <div class="col-md-4">
        <cartbooks:link.book pluginName="Books" book="{book}" settings="{settings}">
            <div class="book-title"><h3>{book.title}</h3></div>
            <div class="book-title">{book.author}</div>
        </cartbooks:link.book>
        <f:if condition="{book.images}">
            <cartbooks:link.book pluginName="Books" book="{book}" settings="{settings}">
                <f:image src="{book.firstImage.originalResource.originalFile.uid}"
                         title="{book.firstImage.originalResource.title}"
                         alt="{book.firstImage.originalResource.title}"
                         width="{settings.listAction.media.image.size.small.maxWidth}"
                         height="{settings.listAction.media.image.size.small.maxHeight}" />
            </cartbooks:link.book>
        </f:if>
        <div class="row item--content">
            <f:if condition="{book.teaser}">
                <div class="item--teaser-column">
                    <div class="description"><f:format.html>{book.teaser}</f:format.html></div>
                </div>
            </f:if>
        </div>
        <cartbooks:link.book pluginName="Books" book="{book}" settings="{settings}">
            <div class="book-title"><f:translate key="tx_cartbooks.more_link" /><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </cartbooks:link.book>
    </div>
</f:section>

<f:for each="{books}" as="book" iteration="iterator">
    <f:if condition="{iterator.isFirst}">
        <div class="row">
    </f:if>

    <f:if condition="{iterator.cycle} % 3">
        <f:then>
            <f:render section="GridItem" arguments="{_all}"/>
        </f:then>

        <f:else>
            <f:render section="GridItem" arguments="{_all}"/>

            <f:if condition="{iterator.isLast}">
                <f:then></f:then>
                <f:else>
                    </div><div class="row">
                </f:else>
            </f:if>
        </f:else>
    </f:if>

    <f:if condition="{iterator.isLast}">
        </div>
    </f:if>
</f:for>
</html>