<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cart="http://typo3.org/ns/Extcode/Cart/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="book">
    <f:for each="{books}" as="book">
        <f:if condition="{book.category.cartBookShowPid}">
            <f:then>
                <cart:variable.set name="showPageUid" value="{book.category.cartBookShowPid}"/>
            </f:then>
            <f:else>
                <cart:variable.set name="showPageUid" value="{settings.showPageUids}"/>
            </f:else>
        </f:if>

        <div class="book-detail">
            <div class="row">
                <div class="medium-7 columns">
                    <f:link.action pageUid="{cart:variable.get(name: 'showPageUid')}"
                                   action="show"
                                   arguments="{book: book}">
                        <div class="book-title"><h3>{book.title}</h3></div>
                    </f:link.action>
                    <div class="row item--content">
                        <f:if condition="{book.teaser}">
                            <div class="item--teaser-column">
                                <div class="description"><f:format.html>{book.teaser}</f:format.html></div>
                            </div>
                        </f:if>
                    </div>

                </div>
                <div class="medium-5 columns">
                    <f:link.action pageUid="{cart:variable.get(name: 'showPageUid')}"
                                   action="show"
                                   arguments="{book: book}">
                        <button class="button" type="button" name="button"><f:translate key="LLL:EXT:cart_books/Resources/Private/Language/Cart/locallang.xlf:dates.to_booking" /><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </f:link.action>
                </div>
            </div>
        </div>
    </f:for>
</div>
</html>
