<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cart="http://typo3.org/ns/Extcode/Cart/ViewHelpers"
      data-namespace-typo3-fluid="true">

<cart:titleTag>
    <f:format.htmlentitiesDecode>{book.title}</f:format.htmlentitiesDecode>
</cart:titleTag>

<f:if condition="{book.metaDescription}">
    <f:then>
        <cart:metaTag property="description" content="{book.metaDescription -> f:format.crop(maxCharacters: '150')}" />
    </f:then>
    <f:else>
        <cart:metaTag property="description" content="{book.teaser -> f:format.crop(maxCharacters: '150')}" />
    </f:else>
</f:if>

<script type="application/ld+json">
<cartbooks:schema book="{book}" />
</script>

<div class="book-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <f:render partial="Book/Show/Image" arguments="{book: book}"/>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12">
                <f:render partial="Book/Show/Information" arguments="{book: book}"/>
            </div>
            <div class="col-lg-2 col-md-12">
                <div>
                    <f:render partial="Book/Price" arguments="{book: book}" />
                </div>

                <f:if condition="{cartSettings.cart.pid}">
                    <f:render partial="Book/CartForm" arguments="{book: book, pid: cartSettings.cart.pid}" />
                </f:if>
            </div>
        </div>

        <f:render partial="Book/Show/Description" arguments="{book: book}"/>

        <f:render partial="Book/Show/RelatedBooks" arguments="{book: book}"/>
    </div>
</div>
</html>
